<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hello, I’m Zach, nice to meet you!</h2>
      <p class="subtitle subtitle--light">I’m a system architect with over 10 years of experience building enterprise solutions.
      </p>

      <p>My skills include system design, site reliability engineering, automation, root cause analysis, cloud and bare metal infrastructure, infrastructure as code, and scripting. I’m interested in clean aesthetics, resilient design, idempotent and declarative platforms, orchestration, manageability, efficient infrastructure.</p>
      <p>Looking for a system architect? I’d love to learn about your company and current challenges, feel free to drop me some bits.</p>
      <a href="#" class="cta button--fill contact-trigger js-contact">Contact Me</a>
    </div>
  </div>
</section>